@font-face {
    font-family: 'Tourney';
    src: url(../fonts/Tourney/static/Tourney/Tourney-Thin.ttf)
}

@font-face {
    font-family: 'Tourney_a';
    src: url(../fonts/Tourney/static/Tourney/Tourney-Bold.ttf)
}

@font-face {
    font-family: 'Tourney_b';
    src: url(../fonts/Tourney/static/Tourney/Tourney-Black.ttf)
}

/* setting  */

html {
    scroll-behavior: smooth;
}

body {
    background: url(../image/topbild.jpg) center/cover no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1, p, a {
    margin: 0;
    color: #EDEDED;
}

h1, h2 {
    font-family: 'Tourney', sans-serif;
}

p {
    font-family: 'Arial', sans-serif;
}

a {
    font-family: 'Tourney_a', sans-serif;
}

ul {
    padding: 0;
}

.scroll > a > i {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 3em;
    margin-left: 1%;
    margin-bottom: 1%;
    color: #fff;
}

/* header */

header {
    background: #2D132C;
    padding: 1%;
    border-bottom: 4px solid #801336;
}

header > ul {
    margin: 0;
    text-align: right;
}

header > ul > li {
    list-style: none;
    display: inline;
}

header > ul > li > a {
    margin-left: 3%;
    color: #EDEDED;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.5em;
}

header > ul > li > a:hover {
    color: #EE4540;
    transition: all 0.3s;
}

/* top section */

#top {
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

#top > article { 
    padding: 10% 10% 10.5% 10%;
    height: 100vh;
}

#top > article > h1 {
    font-size: 10em;
}

#top > article > p {
    font-size: 1em;
    width: 40%;
    margin: 2% 0;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
}

#top > article > button {
    margin-top: 2%;
    width: 300px;
    height: 60px;
    background: #C72C41;
    color: #EDEDED;
    font-size: 1.5em;
    font-family: 'Tourney_a', sans-serif;
    letter-spacing: 1px;
    border: none;
    border: 3px solid #EE4540;
    border-radius: 25px;
}

#top > article > button:hover {
    background: #801336;
    border: 3px solid #C72C41;
    font-size: 1.7em;
    transition: all 0.2s;
    width: 330px;
    height: 66px;
    margin-left: -1.5%;
}

#top > article > button > a {
    text-decoration: none;
}


/* section about */

#about {
    border-top: 5px solid #801336;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background: #2D132C;
    z-index: 99;
}

.textabout > h1 {
    font-size: 20em;
    color: #801336;
    margin-top: 5%;
    text-align: center;
}

.textabout > p {
    display: inline-block;
    text-align: justify;
    width: 45%;
    line-height: 3em;
    color: #EDEDED;
    letter-spacing: 1px;
    z-index: 999;
} 

.textabout p:last-of-type {
    margin-left: 9.6%;
} 

.textabout > h2:last-child {
    text-align: right;
} 

.textabout > h2 {
    font-size: 5em;
    font-weight: bold;
    color: #EDEDED;
    margin: 0;
}

.textabout > h2:first-of-type {
    margin-top: 5%;
}

.textabout > h2:last-of-type {
    margin-bottom: 5%;
}

/* section gallery */

#gallery {
    border-top: 4px solid #801336;
    padding: 5% 5% 10% 5%;
    background: rgba(0, 0, 0, 0.4);
}

#gallery > h1 {
    font-size: 15em;
    text-align: center;
    color: #EDEDED;
    margin-bottom: 5%;
    font-family: 'Tourney_a', sans-serif;
}

#gallery > article {
    text-align: center;
}

#gallery > article > ul > li {
    display: inline;
    margin: 0.3%;
}

#gallery > article > ul > li:nth-child(1) {
    content: url(../image/bild1.jpg);
    width: 45%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(2) {
    content: url(../image/bild2.jpg);
    width: 45%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(3) {
    content: url(../image/bild3.jpg);
    width: 30%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(4) {
    content: url(../image/bild4.jpg);
    width: 30%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(5) {
    content: url(../image/bild5.jpg);
    width: 30%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(6) {
    content: url(../image/bild6.jpg);
    width: 30%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(7) {
    content: url(../image/bild7.jpg);
    width: 30%;
    height: 250px;
}

#gallery > article > ul > li:nth-child(8) {
    content: url(../image/bild8.jpg);
    width: 30%;
    height: 250px;
}

/* contacts  */

#contact {
    background: #2D132C;
    padding: 10%;
    border-top: 4px solid #801336;
    border-bottom: 4px solid #801336;
}

#contact > form > h1 {
    font-size: 10em;
    background: #801336; 
}

#contact > form > button {
    color: #fff;
    border: none;
    padding: 1%;
    background: #2D132C;
    border: 3px solid #801336;
    width: 34.5%;
    margin-top: 1%;
}

#contact > form > input {
    box-sizing: border-box;
    padding: 2%;
    margin-top: 2%;
    background: #2D132C;
    border: none;
    border: 3px solid #801336;
}

#contact > form > textarea {
    background: #2D132C;
    border: none;
    border: 3px solid #801336;
    width: 33.5%;
    height: 150px;
    margin-top: 1%;
}

#contact > form > input::placeholder {
    font-size: 1.3em;
}

#contact > form {
    margin: 0 auto;
    text-align: center;
}

#contact > form > button > a {
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 2px;
}

